@model IEnumerable<Domain.Entity.user>

 @{
   ViewBag.Title = "ListOwners";
   Layout = "~/Views/Shared/_LayoutBack.cshtml";
                     
  }

    <h2>List Owners</h2>


                      <table class="table">
                          <tr>
                              
                              <th>
                                  @Html.DisplayNameFor(model => model.firstName)
                              </th>
                              <th>
                                  @Html.DisplayNameFor(model => model.lastName)
                              </th>
                              <th>
                                  @Html.DisplayNameFor(model => model.age)
                              </th>
                              <th>
                                  @Html.DisplayNameFor(model => model.city)
                              </th>
                              <th>
                                  @Html.DisplayNameFor(model => model.mail)
                              </th>
                              
                              <th></th>
                          </tr>

                          @foreach (var item in Model) {
                          <tr>
                              
                              <td>
                                  @Html.DisplayFor(modelItem => item.firstName)
                              </td>
                              <td>
                                  @Html.DisplayFor(modelItem => item.lastName)
                              </td>
                              <td>
                                  @Html.DisplayFor(modelItem => item.age)
                              </td>
                              <td>
                                  @Html.DisplayFor(modelItem => item.city)
                              </td>
                              <td>
                                  @Html.DisplayFor(modelItem => item.mail)
                              </td>
                             
                              <td>
                                  @Html.ActionLink("Meet", "Meet") 
                                  
                              </td>
                          </tr>
            }
                      </table>

                      <div>
                          @Html.ActionLink("Back to List", "Index")
                      </div>





