@model WEB.Models.MessageModels

@{
    ViewBag.Title = "Create";
Layout = "~/Views/Shared/_LayoutBack.cshtml";
}

<h2> New Message</h2>
@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @*if (@ViewBag.Message != null)
    {
<div style="border: 1px solid red">
    @ViewBag.Message
</div>
    }*@

<div class="well" style="width:800px;
padding-left:200px;
margin-left:170px;">
    <div>
        <table style="width:700px;">
            <tr>
                <td>Subject :</td>
                <td>
                    @Html.EditorFor(model=> model.subject)
                    @Html.ValidationMessageFor(model => model.subject)
                </td>
            </tr>
             <tr>
                <td>Text :</td>
                <td>
                    @Html.EditorFor(model=> model.text)
                    @Html.ValidationMessageFor(model => model.text)
                </td>
            </tr>
            <tr>
                <td>Destination :</td>
                <td>

                    @Html.DropDownListFor(model => model.UserId, Model.users,"Please Choise your Reciver")
                </td>
            </tr>
            <tr><td><br /></td></tr>


        </table>
        <br />

        <table>
            <tr>

                <td><input type="submit" value="Send" class="btn btn-success" style="width:360px;" /></td>

            </tr>
        </table>
    </div>
</div>
}
<div>
    @Html.ActionLink("Back to List", "ListMessage")
</div>